{% extends "layout.html" %}

{% block title %}Lista de Categorias{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/categorias.js"></script>
{% endblock%}

{% block saldo %}
<div class="d-flex" style="width:100%">
    <div class="titulo p-2 flex-grow-1 text-center">Listagem de Categorias</div>
    <div class="p-2 ">
        <table >
            <tr>
                <td colspan="6"></td>
                {% if saldo < 0 %}
                <th id="thSaldo" class="saldoRed">Saldo</th>
                <td id="tdSaldo" class="saldoRed">R$ {{ saldo }}</td>
                {% else %}
                <th id="thSaldo" class="saldoGreen">Saldo</th>
                <td id="tdSaldo" class="saldoGreen">R$ {{ saldo }}</td>
                {% endif%}
            </tr>
        </table>
    </div>
</div>
{% endblock %}

{% block main %}
{% block barraFerramenta%}
<div class="d-flex" style="width:100%">
    <div class="titulo p-2 text-start flex-grow-1 ">
        <button id="btnNewCategoria" onclick="handleNewCategoria()" data-bs-toggle="tooltip" data-bs-placement="top"  title="Criar uma nova categoria"  class="btn btn-primary btnBarraFerramenta">
            <img alt="" class="iconImg" src="/static/img/plus.png" /> Nova Categoria
        </button>
        </div>
    <div class="p-2 align-items-end ">
        <button id="btnVoltar" onclick="location.href = document.referrer;" class="btn btn-primary">
            <img alt="" class="iconImg" src="/static/img/voltar.png" /> Voltar
         </button>
    </div>
</div>
{% endblock %}
<div id="liveAlertPlaceholder"></div>
<form>
    <input type="hidden" id="idCategoria" name="idCategoria" value="0">
    <div class="section">
        <table id="tableCategoria">
            <thead>
                <tr>
                    <th colspan="2"
                        style="text-align: center;align-items: center;width:auto; padding:1px;rem;vertical-align:middle;">
                        Ações
                    </th>
                    <th>Tipo de Categoria</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in dados %}
                <tr id="tr_{{ categoria.id }}">
                    <td style="width:6px;padding:0px;vertical-align: middle;"><button type="button" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Deletar Categoria" onclick="handleDelete(this, {{ categoria.id }})">


                            <img alt="" class="iconImg" src="/static/img/delete.png" /> </button></td>
                    <td style="width:6px;padding:0px;vertical-align: middle;"><button type="button" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Editar Categoria" onclick="handleEdit({{ categoria.id }})"><img alt=""
                                class="iconImg" src="/static/img/edit.png" />
                        </button></td>
                    </td>
                    <td>{{categoria.tipo }}</td>
                    <td>{{categoria.descricao }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</form>
{% endblock %}

