{% extends "layout.html" %}


{% block title %}
Categorias
{% endblock %}
{% block header %}
<script type="text/javascript" src="/static/js/categorias.js"></script>
<div id="navbarDisplay" class="navbarDisplay"   ></div>
<div class="container-fluid " >
    <nav class="navbar navbar-light bg-light  align-items-end"  >
        <ul class="titulo">Categoria</ul>
        <ul>
            <table >
                <tr>
                    <td colspan="6"></td>
                    {% if saldo < 0 %}
                        <th id="thSaldo" class="saldoRed">Saldo</th>
                        <td id="tdSaldo" class="saldoRed">R$ {{ saldo }}</td>
                    {% else %}
                        <th id="thSaldo" class="saldoGreen">Saldo</th>
                        <td id="tdSaldo" class="saldoGreen">R$ {{ saldo }}</td>
                    {% endif%}
                </tr>
            </table>
        </ul>
    </nav>
</div>
{% endblock %}

{% block main %}
<div id="liveAlertPlaceholder"></div>
<div class="section">
    <form >
        {%for dado in dados %}
        <input type="hidden" id="idCategoria" name="idCategoria" value="{{ dado.id }}">
        <div class="mb-3">
            <label for="tipoCategoria" class="form-label">Tipo de Categoria</label>
            <select id="tipoCategoria" name="tipoCategoria" class="custom-select">
                <option value="0" {% if dado.idTipoCategoria == 0 %} selected="selected"{% endif %} >Nenhum Tipo de Categoria Selecionada</option>
                <option value="1" {% if dado.idTipoCategoria == 1 %} selected="selected"{% endif %} >Despesas</option>
                <option value="2" {% if dado.idTipoCategoria == 2 %} selected="selected"{% endif %} >Receitas</option>
            </select>

        </div>
        <div class="mb-3">
            <label for="deccscricao">Descricao</label>
            <input value="{{ dado.descricao }}" id="descricao" name="descricao" autocomplete="off" autofocus placeholder="Descrição" type="text"    required />
        </div>
        {% endfor%}
    </form>
</div>

{% endblock %}
{% block barraFerramenta%}
    <ul >
        <button id="btnSaveCategoria" onclick="handleSaveCategoria()" data-bs-toggle="tooltip" data-bs-placement="top" title="Salvar Categoria" class="btn btn-primary btnBarraFerramenta">
            <img class="iconImg" src="/static/img/diskette.png" /> Salvar
        </button>
        <button id="btnNewCategoria" onclick="clearFormCategoria()" data-bs-toggle="tooltip" data-bs-placement="top"  title="Criar uma nova categoria"  class="btn btn-primary btnBarraFerramenta">
            <img class="iconImg" src="/static/img/plus.png" /> Novo
        </button>
        <button id="btnListCategoria" onclick="handleListCategoria()" data-bs-toggle="tooltip" data-bs-placement="top"  title="Listar Categorias" class="btn btn-primary btnBarraFerramenta">
            <img class="iconImg" src="/static/img/list.png" /> Listar
        </button>
    </ul>
    <ul >
        <button id="btnVoltarCategoria" onclick="location.href = document.referrer;" class="btn btn-primary">
            <img class="iconImg" src="/static/img/voltar.png" /> Voltar
        </button>
    </ul>
{% endblock%}