<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!-- http://getbootstrap.com/docs/5.1/ -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>


    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/r-2.4.1/rr-1.3.3/sb-1.4.2/sp-2.1.2/sl-1.6.2/sr-1.2.2/datatables.min.css" rel="stylesheet"/>
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/r-2.4.1/rr-1.3.3/sb-1.4.2/sp-2.1.2/sl-1.6.2/sr-1.2.2/datatables.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>

    <!-- https://favicon.io/emoji-favicons/money-bag/ -->
    <link href="/static/favicon.ico" rel="icon">

    <link href="/static/styles.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {%block script  %}{%endblock%}
</head>

<body> 
    <div class="modal loading" style=" display:none;">
        <div  class="imgLoading">
            <img alt="" class="spinner-border"src="/static/img/loading.png"  />
        </div>
    </div>
    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-primary mb-0 text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}


    <div class="d-flex flex-column">
        <div class="bg-info w-100 h-15">
            <nav id="navBrand" class="bg-light navbar navbar-expand-sm navbar-dark navbar-expand-md navbar-light " >
                <div class="headerNav container-fluid">
                    <div>
                        <button aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation" class="d-md-none" data-bs-target="#sidebar" data-bs-toggle="collapse" type="button">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand align-text-lg-start" href="/"> <span class="green">DESPESA$ PESSOAI$</span></a>
                    </div>
                    {% block saldo %}{% endblock %}
                    {% if session["user_id"] %}
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img alt="" src="static/img/perfi.png" alt="" width="64" height="64" class="rounded-circle me-2">
                            <strong>mdo</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
                            <li><a class="nav-link dropdown-item" href="#">Perfil</a></li>
                            <li><a class="nav-link dropdown-item" href="#">Configurações</a></li>                    
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="nav-link dropdown-item" href="/logout"><img alt="" class="iconImg" src="/static/img/logout.png"/> Sair</a></li>
                        </ul>
                    </div>
                     {% else %}
                     <ul class="navbar-nav ms-auto mt-2 ">
                        <li class="nav-item"><a class="nav-link" href="/register" style="color: #0d6efd;">Criar uma conta</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login" style="color: #0d6efd;" >Fazer login</a></li>
                    </ul>
                    {% endif %}
                     </div>
                </div>
            </nav>    
        </div>
        <div id="navbarDisplay" class="navbarDisplay"   ></div>
        <div class="w-100 h-80">
            <div class="d-flex h-100  ">
                    {% if session["user_id"] %}
                    <div id="sidebar" class="sidebar d-md-block collapse-horizontal align-items-start  h-100 p-2 text-white bg-light"  >
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard"><img alt="" class="iconImg" src="/static/img/home.png"/>  Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/lancamentos"><img alt="" class="iconImg" src="/static/img/information.png"/>  Lançamentos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/categoriaList"><img alt="" class="iconImg" src="/static/img/categorizacao.png"/>  Categoria</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/despesasList"><img alt="" class="iconImg" src="/static/img/money.png"/>  Despesas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/receitasList"><img alt="" class="iconImg" src="/static/img/wallet.png"/>  Receitas</a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}            
                    <div class=" flex-grow-1 w-75 ">
                        <main class="container-fluid py-1 text-center">
                            {% block main %}{% endblock %}
                        </main>
                    </div>
                </div>                
             </div>
          <div>
          <div style="footer w-100  h-5">
             <footer  class=" mb-3 text-center h-5">© 2023 Honey TI. Todos os direitos reservados - Desenvolvido por Alex Ribeiro de Faria</footer>                  
          </div>    
    </div>
</body>
</html>


