{% extends "layout.html" %}

{% block title %}
    Lista de Receitas
{% endblock %}

{% block header %}
<script type="text/javascript" src="/static/js/receitas.js"></script>
<div id="navbarDisplay" class="navbarDisplay"   ></div>
<div class="container-fluid " >
    <nav class="navbar navbar-light bg-light  align-items-end"  >
        <ul class="titulo">Listagem de Receitas </ul>
        <ul>
            <table >
                <tr>
                    <td colspan="6"></td>
                    {% if saldo < 0 %}
                        <th id="thSaldo" class="saldoRed">Saldo</th>
                        <td id="tdSaldo" class="saldoRed">R$ {{ saldo }}</td>
                    {% else %}
                        <th id="thSaldo" class="saldoGreen">Saldo</th>
                        <td id="tdSaldo" class="saldoGreen">R$ {{ saldo }}</td>
                    {% endif%}
            </tr>
            </table>
        </ul>
    </nav>
</div>
{% endblock %}

{% block main %}
<div id="liveAlertPlaceholder"></div>
<form >
    <input type="hidden" id="idReceita" name="idReceita" value="0" >
    <div class="section">
        <table id="tableReceita">
            <thead>
                <tr>
                    <th colspan="2" style="text-align: center;align-items: center;width:auto; padding:1px;rem;vertical-align:middle;">Ações</th>
                    <th>Data</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for receita in dados %}
                <tr>
                    <td style="width:6px;padding:0px;vertical-align: middle;"><button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Deletar Receita"
                        onclick="handleDelete(this, {{ receita.id }})"><img class="iconImg" src="/static/img/delete.png" /> </button></td>
                    <td style="width:6px;padding:0px;vertical-align: middle;"><button type="button" data-bs-placement="top" title="Editar Receita"
                        onclick="handleEdit({{ receita.id }})"><img class="iconImg" src="/static/img/edit.png" /> </button></td>
                    <td>{{ receita.data }}</td>
                    <td>{{ receita.tipo }}</td>
                    <td> {{ receita.descricao }}</td>
                    <td>{{ receita.categoria }}</td>
                    <td>{{ receita.valor }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th id="thTotal" class="tfoot_td">Total</th>
                    <td id="tdTotal" >R$ {{ total }}</td>
                </tr>
            </tfoot>
        </table>
</form>
</div>
{% endblock %}
{% block barraFerramenta%}
    <ul>
        <button id="btnNewaReceita" onclick="handleNewReceita()" class="btn btn-primary btnBarraFerramenta" data-bs-toggle="tooltip" data-bs-placement="top" title="Crirar uma nova Receita">
            <img class="iconImg" src="/static/img/plus.png" /> Nova Receita
        </button>
    </ul>
    <ul >
        <button id="btnVoltarCategoria" onclick="location.href = document.referrer;" class="btn btn-primary">
            <img class="iconImg" src="/static/img/voltar.png" /> Voltar
         </button>
    </ul>
{% endblock %}